*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	color: #444;
	background-color: #f6f6f6;
}

p {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
}

.authorization {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	margin: auto;
	padding: 10px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0px 5px 10px rgba(200, 200, 200, 0.8);
}

.authorization__header {
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

.authorization__input-unit {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.authorization__label {
	margin: 0 10px 5px;
	font-size: 14px;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: #888;
}

.authorization__input {
	width: 100%;
	height: 30px;
	margin: 0;
	padding: 6px 15px;
	border: 1px solid #999;
	border-radius: 10px;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #444;
}

.authorization__submit-btn {
	height: 30px;
	padding: 5px 0;
	border-radius: 10px;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.2em;
	color: #2670b3;
	background-color: #e6f2ff;
	transition: 0.1s ease-in-out;
	cursor: pointer;
}

.authorization__submit-btn:hover {
	color: #fff;
	background-color: #80c2ff;
}

@media (max-width: 1024px) {
	p {
		font-size: 12px;
		line-height: 15px;
	}

	.authorization__header {
		font-size: 14px;
		line-height: 15px;
	}

	.authorization__label {
		margin-bottom: 3px;
		font-size: 12px;
		line-height: 14px;
	}

	.authorization__input {
		height: 25px;
		padding: 4px 10px;
		font-size: 12px;
		line-height: 15px;
	}

	.authorization__submit-btn {
		height: 25px;
		font-size: 14px;
		line-height: 15px;
	}
}

@media (max-width: 550px) {
	.authorization {
		width: 90%;
	}
}