*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	color: #444;
	background-color: #f6f6f6;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
}

.header {
	z-index: 4;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 15px 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #e6f2ff;
	box-shadow: 0 5px 10px rgba(200, 200, 200, 0.8);
}

.burger {
	display: none;
}

.header__navigation {
	display: flex;
	align-items: center;
	column-gap: 50px;
}

.header__navigation-item {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	color: #2670b3;
	background-color: transparent;
	transition: .3s;
	cursor: pointer;
}

.header__navigation-item_selected {
	transform: scale(1.2);
	color: #0086ff;
}

.main-content {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	width: 100%;
	padding-top: 100px;
}

.main-content_table_user-table {
	display: none;
	padding-bottom: 90px;
}

.main-content_table_user-table .table__header,
.main-content_table_user-table .table__row {
	padding-right: 100px;
}

.main-content_table_application-table {
	display: none;
	padding-bottom: 90px;
}

.main-content_table_application-table .table__header,
.main-content_table_application-table .table__row {
	padding-right: 50px;
}

.main-content_table_income-table {
	display: none;
	padding-bottom: 160px;
}

.main-content_table_income-table .table__header,
.main-content_table_income-table .table__row {
	padding-right: 80px;
}

.main-content_table_session-table {
	display: none;
	padding-bottom: 20px;
}

.main-content_table_tasks {
	display: none;
	padding-bottom: 90px;
}

.main-content_list_bookmakers {
	display: none;
	padding-bottom: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	width: 1366px;
	margin: 0 auto;
}

.table {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 10px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(200, 200, 200, 0.8);
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.search {

}

.table__search {
	position: absolute;
	top: 10px;
	left: 10px;
}

.list__search {
	position: relative;
}

.search__input {
	height: 30px;
	border: 1px solid;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #444;
	transition: 0.3s ease;
}

.table__search .search__input {
	width: 85px;
	padding: 5px 30px 5px 10px;
	border-color: #999;
	border-radius: 10px;
}

.list__search .search__input {
	width: 100%;
	padding: 5px 95px 5px 15px;
	border-color: #e6f2ff;
	border-radius: 20px;
}

.table__search .search__input:focus {
	width: 350px;
}

.list__search .search__input:focus {
	border-color: #80c2ff;
}

.search__btn {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	height: 20px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: #e6f2ff;
	cursor: pointer;
	transition: 0.1s ease;
}

.table__search .search__btn {
	width: 20px;
	border-radius: 5px;
}

.list__search .search__btn {
	width: 75px;
	border-radius: 10px;
}

.search__btn::before {
	font-family: 'icons', serif;
	content: "\e900";
	position: absolute;
	top: 0;
	font-size: 14px;
	color: #2670b3;
	transition: 0.1s ease;
}

.table__search .search__btn::before {
	left: 50%;
	transform: translateX(-50%);
	line-height: 18.5px;
}

.list__search .search__btn::before {
	left: 5px;
	line-height: 20px;
}

.list__search .search__btn::after {
	content: "Поиск";
	position: absolute;
	top: 0;
	right: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.05em;
	color: #2670b3;
	transition: 0.1s ease;
}

.list__list-item {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.table__table-name {
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.2em;
	color: #2670b3;
}

.table__header {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.table__column {
	display: flex;
	align-items: center;
	padding: 5px 15px;
}

.table__column + .table__column {
	border: solid #999;
	border-width: 0 0 0 1px;
}

.table__column-name {
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

.table__content {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	border-radius: 10px;
	overflow: hidden;
}

.table__row {
	display: flex;
	justify-content: center;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
}

.table__row:nth-child(odd) {
	background-color: #f6f6f6;
}

.table__row_banned-user {
	color: #a60500;
}

.table__cell {
	display: flex;
	align-items: center;
	padding: 2px 10px;
	text-align: center;
}

.table__row_expired-license .table__cell_content_end-license .table__cell-text {
	color: #ff0700;
}

.table__cell + .table__cell {
	border: solid #999;
	border-width: 0 0 0 1px;
}

.table__cell-text {
	width: 100%;
	overflow-wrap: break-word;
	font-size: 14px;
	line-height: 16px;
	white-space: pre-line;
}

.list-item {
	padding: 10px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(200, 200, 200, 0.8);
}

.list-item__header {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

.list-item__bookmaker-name,
.list-item__bookmaker-domen {
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.2em;
	color: #2670b3;
}

.list-item__bookmaker-name {
	font-weight: 500;
	cursor: default;
}

.list-item__bookmaker-domen {
	font-weight: 300;
	transition: 0.1s ease;
	cursor: pointer;
}

.list-item__content {
	display: flex;
	justify-content: space-between;
	align-items: start;
	column-gap: 20px;
}

.list-item__main-block {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 85%;
}

.list-item__expandable-text-block {
	display: flex;
	flex-direction: column;
}

.expandable-text-block {
	position: relative;
}

.expandable-text-block__expanding-text {
	height: 55px;
	resize: none;
	overflow: hidden;
	margin: 0;
	padding: 9px 15px 0 15px;
	border: solid #e6f2ff;
	border-width: 1px 1px 0;
	border-radius: 10px 10px 0 0;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 15px;
	color: #444;
	transition: 0.2s ease;
	cursor: default;
}

.expandable-text-block__resize-btn {
	position: relative;
	height: 20px;
	border: none;
	border-radius: 0 0 10px 10px;
	background-color: #e6f2ff;
	transition: 0.2s ease;
	cursor: pointer;
}

.expandable-text-block__resize-btn::before {
	font-family: 'icons';
	content: "\e90a";
	position: absolute;
	bottom: 0;
	left: 50%;
	font-size: 24px;
	line-height: 20px;
	color: #2670b3;
	transition: 0.2s ease;
}

.expandable-text-block__resize-btn_expand::before {
	transform: translateX(-50%) rotateX(0);
}

.expandable-text-block__resize-btn_collapse::before {
	transform: translateX(-50%) rotateX(180deg);
}

.expandable-text-block__expanding-text:has( + .expandable-text-block__resize-btn:hover) {
	border-color: #80c2ff;
}

.list-item__date-block {
	display: flex;
	align-items: center;
	column-gap: 10px;
	padding: 0 10px;
}

.list-item__creation-date,
.list-item__change-date {
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.1em;
}

.list-item__dete-separator {
	font-size: 18px;
	line-height: 20px;
	color: #999;
}

.list-item__side-block {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	min-width: 200px;
	width: 15%;
}

.list-item__select {
	width: 100%;
}

.select_content_chek-status .select__input[data-value = "Рассмотрение"] {
	color: #666;
	background-color: #f4f4f4;
}

.select_content_chek-status .select__input[data-value = "Реализуемо"] {
	border-color: #1b8422;
	color: #1b8422;
	background-color: #e6ffe6;
}

.select_content_chek-status .select__input[data-value = "Реализуемо"]::before {
	color: #1b8422;
}

.select_content_chek-status .select__input[data-value = "Нереализуемо"] {
	border-color: #c8302c;
	color: #c8302c;
	background-color: #ffe6e6;
}

.select_content_chek-status .select__input[data-value = "Нереализуемо"]::before {
	color: #c8302c;
}

.select_content_chek-status .select__input[data-value = "В работе"] {
	border-color: #986624;
	color: #986624;
	background-color: #fff4e6;
}

.select_content_chek-status .select__input[data-value = "В работе"]::before {
	color: #986624;
}

.select_content_chek-status .select__input[data-value = "Готово"] {
	border-color: #2670b3;
	color: #2670b3;
	background-color: #e6f2ff;
}

.select_content_chek-status .select__input[data-value = "Готово"]::before {
	color: #2670b3;
}

.select {
	display: flex;
	flex-direction: column;
	position: relative;
}

.select_opened .select__input {
	z-index: 4;
}

.select_opened .select__option-list {
	box-shadow: 0 2px 5px rgba(200, 200, 200, 0.4);
	z-index: 3;
}

.select_searchable .select__input {
	outline: none;
	cursor: text;
}

.select_searchable .select__input::before {
	display: none;
}

.select__input {
	position: relative;
	width: 100%;
	height: 30px;
	margin: 0;
	padding: 5px 30px 5px 15px;
	border: 1px solid #999;
	border-radius: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: #666;
	background-color: #fff;
	user-select: none;
	cursor: pointer;
	z-index: 2;
}

.select__input::before {
	font-family: 'icons', serif;
	content: "\e90a";
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%) rotateX(0deg);
	font-size: 20px;
	line-height: 20px;
	color: #666;
	transition: 0.3s ease;
}

.select_opened .select__input::before {
	transform: translateY(-50%) rotateX(180deg);
}

.select__option-list {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 200px;
	height: 0;
	margin: 0;
	padding: 20px 0 0;
	border: 1px solid #999;
	border-radius: 10px;
	overflow: auto;
	list-style: none;
	background-color: #fff;
	transition: height 0.3s ease;
	z-index: 1;
}

.select__option-list::-webkit-scrollbar {
	width: 5px;
}

.select__option-list::-webkit-scrollbar-track {
	margin: 35px 0 10px;
	border-radius: 2.5px;
	background-color: rgba(68, 68, 68, 0.2);
}

.select__option-list::-webkit-scrollbar-thumb {
	border: none;
	border-radius: 2.5px;
	background-color: #999; 
}

.select__option {
	height: 25px;
	padding: 0 10px;
	transition: 0.1s ease;
	cursor: pointer;
}

.select__option:first-child {
	height: 35px;
	padding-top: 10px;
}

.select__option:nth-child(n+2) .select__option-value {
	border-top: 1px solid #999;
}

.select__option-value {
	padding: 0 5px;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	letter-spacing: 0.05em;
	user-select: none;
}

.table__action-block {
	flex-direction: flex;
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	transition: 0.1s ease;
}

.list-item__action-block {
	flex-direction: flex;
	justify-content: space-evenly;
	transition: 0.1s ease;
}

.action-block {
	display: flex;
	align-items: center;
	column-gap: 5px;
	row-gap: 5px;
}

.action-block__action-btn {
	
}

.action-btn {
	position: relative;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: 0.1s ease;
}

.action-btn::before {
	font-family: 'icons';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	line-height: 20px;
	color: #444;
	transition: 0.1s ease;
}

.action-btn_action_edit:before {
	content: "\e901";
}

.action-btn_action_license-renewal:before {
	content: "\e902";
}

.action-btn_action_ban::before {
	content: "\e903";
	font-weight: 600;
}

.action-btn_action_delete:before {
	content: "\e904";
}

.action-btn_action_detail-info::before {
	content: "\e905";
}

.action-btn_action_payment {
	width: 25px;
	height: 25px;
	border: 1px solid transparent;
	border-radius: 5px;
}

.action-btn_action_payment::before {
	content: "\e906";
	font-size: 18px;
	line-height: 25px;
}

.action-btn_payment-state_payable {
	background-color: rgba(222, 255, 128, 0.4);
}

.action-btn_payment-state_payable::before {
	color: #666;
}

.action-btn_payment-state_payable:disabled {
	border-color: #999;
	background-color: #f6f6f6;
}

.action-btn_payment-state_payable:disabled::before {
	color: #999;
}

.action-btn_payment-state_paid:not(:disabled) {
	background-color: #80ff88;
}

.action-btn_payment-state_paid:not(:disabled)::before {
  color: #fff;
	text-shadow: 0 1px 1px #999;
}

.action-btn_payment-state_unpayable:disabled {
	background-color: #ffe6e6;
}

.action-btn_payment-state_unpayable:disabled::before {
	color: #c8302c;
}

.table__load-more-btn {
	height: 30px;
	margin: 20px 0 0;
	padding: 5px 0;
	border: none;
	border-radius: 10px;
	font-family: 'Open Sans', serif;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	color: #2670b3;
	background-color: #e6f2ff;
	transition: 0.1s ease;
}

.side-block {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5000;
}

.side-btn {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(200, 200, 200, 0.8);
	transition: 0.2s ease;
	cursor: pointer;
}

.side-btn::before {
	font-family: 'icons', serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #666;
	transition: 0.1s ease;
}

.side-btn_action_detailing::before {
	content: "\e907";
	font-size: 24px;
	line-height: 40px;
}

.side-btn_action_add-user::before,
.side-btn_action_add-app::before,
.side-btn_action_add-sale-record::before,
.side-btn_action_add-bookmaker::before {
	content: "\e908";
	font-size: 40px;
	line-height: 40px;
}

#TasksContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.tasks-container {
	border-radius: 20px;
	border: 1px solid #ccc;
	width: 48%;
	margin-bottom: 55px;
	height: max-content;
}

.tasks-user-name {
	color: #2670b3;
	background: #e6f2ff;
	text-align: center;
	font-size: 17px;
	padding: 10px 0;
	border-radius: 20px;
	border-bottom: 1px solid #ccc;
}

.task-element {
	padding: 10px 10px 25px;
	position: relative;
	display: flex;
	border-radius: 20px;
}

.task-element:nth-child(even) {
	background: #f6f6f6;
}

.task-text {
	font-size: 14px;
	width: 100%;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-height: 1.4em;
}

.task-date {
	font-weight: 600;
	font-size: 11px;
	position: absolute;
	bottom: 8px;
	left: 15px;
	color: #666;
}

.task-actions {
	margin-left: 10px;
	width: 150px;
}

.task__select {
	width: inherit;
}

.select_content_task-status .select__input[data-value="Рассмотрение"] {
	color: #666;
	background-color: #f4f4f4;
}

.select_content_task-status .select__input[data-value="В работе"] {
	border-color: #986624;
	color: #986624;
	background-color: #fff4e6;
}

.select_content_task-status .select__input[data-value="В работе"]::before {
	color: #986624;
}

.select_content_task-status .select__input[data-value="Выплата"] {
	border-color: #1b8422;
	color: #1b8422;
	background-color: #e6ffe6;
}

.select_content_task-status .select__input[data-value="Выплата"]::before {
	color: #1b8422;
}

.select_content_task-status .select__input[data-value="Завершено"] {
	border-color: #2670b3;
	color: #2670b3;
	background-color: #e6f2ff;
}

.select_content_task-status .select__input[data-value="Завершено"]::before {
	color: #2670b3;
}

.task-actions .buttons {
	display: flex;
	margin-top: 7px;
	justify-content: space-around;
	opacity: 0;
}

.task-element:hover .buttons,
.task-element:hover .action-btn {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	padding: 10px;
	border-radius: 20px;
	background-color: #fff;
	z-index: 6001;
}

.popup__close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 25px;
	height: 25px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.popup__close-btn::before {
	font-family: 'icons', serif;
	content: "\e909";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	line-height: 20px;
	color: #444;
	transition: 0.1s ease;
}

.popup__content {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.popup__header {
	margin: 5px 0;
	padding: 0 20px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

.popup__no-data {
	padding: 5px 0;
	border-radius: 10px;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.15em;
	color: #fff;
	background-color: #999;
	cursor: default;
}

.popup__input-container {
	display: flex;
	justify-content: space-between;
	align-items: end;
	column-gap: 20px;
}

.popup__input-unit,
.popup__textarea-unit {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.popup__label {
	margin: 0 10px 5px;
	font-size: 14px;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: #888;
}

.popup__label_centered {
	text-align: center;
}

.popup__input,
.popup__number-input,
.popup__date-input,
.popup__textarea {
	width: 100%;
	margin: 0;
	padding: 6px 15px;
	border: 1px solid #999;
	border-radius: 10px;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #444;
}

.popup__input,
.popup__number-input,
.popup__date-input,
.popup__submit-btn {
	height: 30px;
}

.popup__number-input::-webkit-outer-spin-button,
.popup__number-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.popup__date-input {
	position: relative;
	text-align: center;
	letter-spacing: 0.1em;
}

.popup__date-input::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	border-radius: 5px;
	background-color: #e6f2ff;
	opacity: 0.7;
	transition: 0.1s ease;
}

.popup__select {
	width: 100%;
}

.popup__textarea {
	resize: none;
	overflow: hidden;
}

.popup__action-list,
.popup__bet-list {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	max-height: 500px;
	overflow: auto;
}

.popup__action-list::-webkit-scrollbar,
.popup__bet-list::-webkit-scrollbar {
	width: 5px;
}

.popup__action-list::-webkit-scrollbar-track,
.popup__bet-list::-webkit-scrollbar-track {
	border-radius: 2.5px;
	background-color: rgba(68, 68, 68, 0.2);
}

.popup__action-list::-webkit-scrollbar-thumb,
.popup__bet-list::-webkit-scrollbar-thumb {
	border: none;
	border-radius: 2.5px;
	background-color: #999; 
}

.popup__action-block {
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding: 5px 15px;
	border-radius: 10px;
	background-color: #f4f4f4;
}

.popup__bet-block {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

.popup__bet-coupon {
	padding: 5px 10px;
	background-color: #e6f2ff;
}

.popup__bet-coupon:first-child {
	border-radius: 10px 10px 0 0;
}

.popup__bet-coupon:nth-child(even) {
	background-color: rgb(230, 242, 255, 0.5);
}

.popup__bet-game {
	text-align: center;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.1em;
}

.popup__bet-market {
	line-height: 20px;
}

.popup__bet-odd {
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.05em;
}

.popup__bet-odd-amount {
	letter-spacing: 0.1em;
}

.popup__bet-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	padding: 5px 10px;
	border-radius: 0 0 10px 10px;
	color: #fff;
	background-color: #80c2ff;
}

.popup__bet-detail {
	display: flex;
	align-items: center;
	column-gap: 20px;
}

.popup__bet-date {
	letter-spacing: 0.1em;
}

.popup__bet-status {
	font-weight: 600;
	letter-spacing: 0.05em;
}

.popup__bet-size {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.popup__bet-currency {
	font-weight: 600;
	letter-spacing: 0.05em;
}

.popup__bet-amount {
	letter-spacing: 0.1em;
}

.popup__action-info {
	display: flex;
	flex-direction: column;
	max-width: 445px;
}

.popup__action-title {
	line-height: 20px;
}

.popup__action-message {
	margin-top: 5px;
	text-indent: 10px;
	text-wrap: balance;
	font-size: 13px;
	line-height: 15px;
	white-space: pre-wrap;
}

.popup__action-date {
	width: 85px;
	text-align: right;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.1em;
}

.popup__submit-btn {
	width: 100%;
	padding: 5px 0;
	border-radius: 10px;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.2em;
	cursor: pointer;
}

.popup__submit-btn {
	transition: 0.1s ease;
}

.popup__button-container {
	display: flex;
	column-gap: 20px;
}

.popup__submit-btn_action_accept,
.popup__submit-btn_action_add {
	color: #1b8422;
	background-color: #e6ffe6;
}

.popup__submit-btn_action_edit,
.popup__submit-btn_action_license-renewal,
.popup__submit-btn_action_detail {
	color: #2670b3;
	background-color: #e6f2ff;
}

.popup__submit-btn_action_reject {
	color: #444;
	background-color: #eee;
}

.popup__submit-btn_action_ban {
	color: #986624;
	background-color: #fff4e6;
}

.popup__submit-btn_action_delete {
	color: #c8302c;
	background-color: #ffe6e6;
}

.add-task-popup,
.add-user-popup {
	display: none;
}

.edit-user-popup {
	display: none;
}

.license-renewal-popup {
	display: none;
}

.ban-user-popup {
	display: none;
}

.delete-user-popup {
	display: none;
}

.delete-task-popup {
	display: none;
}

.add-app-popup {
	display: none;
}

.edit-task-popup {
	display: none;
}

.edit-app-popup {
	display: none;
}

.delete-app-popup {
	display: none;
}

.detailing-popup {
	display: none;
}

.detailing-popup__income-detail {
	display: none;
/*	display: flex;*/
	flex-direction: column;
	row-gap: 10px;
}

.detailing-popup__income-container {
	display: flex;
	column-gap: 20px;
}

.detailing-popup__income-container .detailing-popup__income-item {
	width: 50%;
}

.detailing-popup__income-item {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.detailing-popup__income-item_total {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
	width: 100%;
	padding: 5px 0;
	border-radius: 10px;
	background-color: #e6ffe6;
}

.detailing-popup__income-item-name {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.05em;
	color: #666;
}

.detailing-popup__income-item_total .detailing-popup__income-item-name {
	letter-spacing: 0.1em;
	color: #1b8422;
}

.detailing-popup__income-item-value {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.1em;
}

.detailing-popup__income-item_total .detailing-popup__income-item-value {
	font-weight: 400;
	letter-spacing: 0.15em;
	color: #1b8422;
}

.add-sale-record-popup {
	display: none;
}

.popup__price-input-unit,
.popup__partner-input-unit {
	width: 65%;
}

.popup__discount-input-unit,
.popup__partner-percentage-input-unit {
	width: 35%;
}

.confirm-payment-popup {
	display: none;
}

.edit-sale-record-popup {
	display: none;
}

.popup__edit-price-input-unit,
.popup__edit-partner-input-unit {
	width: 65%;
}

.popup__edit-discount-input-unit,
.popup__edit-partner-percentage-input-unit {
	width: 35%;
}

.delete-sale-record-popup {
	display: none;
}

.action-detail-popup {
	display: none;
}

.session-bet-detail-popup {
	display: none;
}

.add-bookmaker-popup {
	display: none;
}

.edit-bookmaker-popup {
	display: none;
}

.delete-bookmaker-popup {
	display: none;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(68, 68, 68, 0.8);
	z-index: 6000;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

.background li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(127, 212, 255, 0.2);
	animation: animate 25s linear infinite;
	bottom: -150px;
}

.background li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}


.background li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.background li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.background li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.background li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.background li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.background li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.background li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.background li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.background li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {
	0%{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100%{
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}