*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 100%;
	color: #444;
	background-color: #f6f6f6;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
}

input[type="date"] {
	appearance: none;
	-webkit-appearance: none;
}

.header {
	z-index: 4;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 15px 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #e6f2ff;
	box-shadow: 0 5px 10px rgba(200, 200, 200, 0.8);
}

.burger {
	display: none;
}

.header__navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	column-gap: 50px;
	row-gap: 10px;
}

.header__navigation-item {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	color: #2670b3;
	background-color: transparent;
	transition: 0.3s;
	cursor: pointer;
}

.header__navigation-item_selected {
	transform: scale(1.2);
	color: #0086ff;
}

.main-content {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 50px;
}

.main-content_table_user-table {
	display: none;
}

.main-content_table_user-table .table__header,
.main-content_table_user-table .table__row {
	padding-right: 100px;
}

.main-content_table_application-table {
	display: none;
}

.main-content_table_application-table .table__header,
.main-content_table_application-table .table__row {
	padding-right: 90px;
}

.main-content_table_tasks {
	display: none;
}

.main-content_table_income-table {
	display: none;
}

.main-content_table_income-table .table__header,
.main-content_table_income-table .table__row {
	padding-right: 80px;
}

.main-content_table_session-table {
	display: none;
}

.main-content_table_check-table {
	display: none;
}

.main-content_table_check-table .table__header,
.main-content_table_check-table .table__row {
	padding-right: 255px;
}

.main-content_table_check-table .table__content {
	overflow: visible;
}

.main-content_table_check-table .table__row:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.main-content_table_check-table .table__row:last-child {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.main-content_table_check-table a {
	color: #2670b3;
}

.main-content_table_development-table {
	display: none;
}

.main-content_table_development-table .table__header,
.main-content_table_development-table .table__row {
	padding-right: 50px;
}

.main-content_table_development-table .table__content {
	overflow: visible;
}

.main-content_table_development-table .table__row:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.main-content_table_development-table .table__row:last-child {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.main-content_table_development-table a {
	color: #2670b3;
}

.main-content_table_proxy-table {
	display: none;
}

.main-content_table_activity-table {
	display: none;
}

.main-content_table_activity-table .table__header,
.main-content_table_activity-table .table__row {
	padding-right: 25px;
}

.container {
	display: flex;
	flex-direction: column;
	width: 1366px;
	margin: 0 auto;
}

.table {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(200, 200, 200, 0.8);
}

.list {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 10px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(200, 200, 200, 0.8);
}

.table__search {
	position: absolute;
	top: 10px;
	left: 10px;
}

.table__search-input {
	width: 85px;
	height: 30px;
	padding: 5px 30px 5px 10px;
	border: 1px solid #999;
	border-radius: 10px;
	outline: none;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #444;
	transition: 0.3s ease;
}

.table__search-input:focus {
	width: 350px;
}

.table__search-btn {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 5px;
	background-color: #e6f2ff;
	cursor: pointer;
	transition: 0.1s ease;
}

.table__search-btn::before {
	font-family: "icons", serif;
	content: "\e100";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	line-height: 18.5px;
	color: #2670b3;
	transition: 0.1s ease;
}

.list__list-item {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 10px;
	border-radius: 10px;
}

.table__table-name {
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.2em;
	color: #2670b3;
}

.table__header {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 20px;
}

.table__column {
	display: flex;
	align-items: center;
	padding: 5px 15px;
}

.table__column + .table__column {
	border: solid #999;
	border-width: 0 0 0 1px;
}

.table__column-name {
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

.table__tooltip {
	display: block;
	position: absolute;
	top: 50%;
	right: 5px;
}

.tooltip__trigger {
	width: 20px;
	height: 20px;
	border: 1px solid #999;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	color: #999;
	background-color: #f4f4f4;
	cursor: default;
}

.tooltip__content {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	position: absolute;
	top: 100%;
	right: 0;
	max-width: 250px;
	min-width: 100px;
	padding: 10px;
	border-radius: 10px;
	opacity: 0;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(200, 200, 200, 0.8);
	transition: 0.2s ease;
	z-index: -1;
}

.tooltip__title {
	text-align: center;
	font-size: 14px;
	line-height: 15px;
	color: #666;
}

.tooltip__list {
	margin: 0;
	padding: 0 0 0 16px;
}

.tooltip__list-item {
	font-size: 13px;
	line-height: 15px;
	color: #888;
}

.table__content {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	border-radius: 10px;
	overflow: hidden;
}

.table__no-data {
	height: 30px;
	border-radius: 10px;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.2em;
	background-color: #f4f4f4;
	cursor: default;
}

.table__row {
	display: flex;
	justify-content: center;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
}

.table__row:nth-child(odd) {
	background-color: #f6f6f6;
}

.table__row_banned-user {
	color: #a60500;
}

.table__cell {
	display: flex;
	align-items: center;
	padding: 2px 10px;
	text-align: center;
}

.table__cell-text_clickable {
	color: #2670b3;
	transition: color 0.2s ease;
	cursor: pointer;
}

.table__row_not-active-license .table__cell_content_end-license .table__cell-text {
	color: #3f8d28;
}

.table__row_expired-license .table__cell_content_end-license .table__cell-text {
	color: #ff0700;
}

.table__row_frozen-user .table__cell_content_end-license .table__cell-text {
	color: #2a75e7;
}

.table__cell + .table__cell {
	border: solid #999;
	border-width: 0 0 0 1px;
}

.table__cell-text {
	width: 100%;
	overflow-wrap: break-word;
	font-size: 14px;
	line-height: 16px;
	white-space: pre-line;
}

.list__header {
	margin-bottom: 20px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.2em;
	color: #2670b3;
}

.list__content {
	display: flex;
	flex-direction: column;
}

.list-item:nth-child(odd) {
	background-color: #f4f4f4;
}

.list-item__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 10px;
	padding: 0 10px;
}

.list-item__bookmaker-info {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.list-item__bookmaker-name,
.list-item__bookmaker-domain,
.list-item__customer-name {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.2em;
	color: #2670b3;
}

.list-item__bookmaker-name {
	cursor: default;
}

.list-item__bookmaker-domain {
	font-weight: 300;
	transition: 0.1s ease;
	cursor: pointer;
}

.list-item__customer-name {
	font-weight: 300;
	letter-spacing: 0.1em;
}

.list-item__content {
	display: flex;
	justify-content: space-between;
	align-items: start;
	column-gap: 20px;
}

.list-item__main-block {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 85%;
}

.list-item__expandable-text-block:has(.expandable-text-block__resize-btn) {
	position: relative;
	padding-bottom: 15px;
}

.list-item__expandable-text-block .expandable-text-block__expanding-text {
	padding: 9px 15px;
	border: 1px solid #e6f2ff;
	border-radius: 10px;
}

.list-item__expandable-text-block .expandable-text-block__expanding-text:has(+ .expandable-text-block__resize-btn) {
	height: 55px;
	z-index: 1;
}

.list-item__expandable-text-block
	.expandable-text-block__expanding-text:has(+ .expandable-text-block__resize-btn_expand) {
	padding: 9px 15px 0;
}

.list-item__expandable-text-block .expandable-text-block__resize-btn {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
	border-radius: 0 0 10px 10px;
}

.list-item__expandable-text-block .expandable-text-block__resize-btn::before {
	font-family: "icons";
	content: "\e501";
	bottom: 0;
	font-size: 18px;
	line-height: 15px;
}

.list-item__expandable-text-block .expandable-text-block__resize-btn_expand::before {
	transform: translateX(-50%) rotateX(0);
}

.list-item__expandable-text-block .expandable-text-block__resize-btn_collapse::before {
	transform: translateX(-50%) rotateX(180deg);
}

.list-item__expandable-text-block
	.expandable-text-block__expanding-text:has(+ .expandable-text-block__resize-btn:hover) {
	border-color: #80c2ff;
}

.expandable-text-block {
	display: flex;
	flex-direction: column;
}

.expandable-text-block__expanding-text {
	resize: none;
	overflow: hidden;
	margin: 0;
	outline: none;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 15px;
	color: #444;
	transition: 0.2s ease;
	cursor: default;
}

.expandable-text-block__resize-btn {
	border: none;
	background-color: #e6f2ff;
	transition: 0.2s ease;
	cursor: pointer;
}

.expandable-text-block__resize-btn::before {
	position: absolute;
	left: 50%;
	color: #2670b3;
	transition: 0.2s ease;
}

.list-item__date-block {
	padding: 0 10px;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.1em;
}

.list-item__side-block {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	min-width: 200px;
	width: 15%;
}

.table__payment-btn {
	position: relative;
	width: 25px;
	height: 25px;
	margin: auto 0;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: rgba(222, 255, 128, 0.4);
	transition: 0.1s ease;
}

.table__payment-btn::before {
	font-family: "icons", serif;
	content: "\e300";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	color: #666;
	transition: 0.1s ease;
}

.table__payment-btn_paid:not(:disabled) {
	background-color: #80ff88;
}

.table__payment-btn_paid:not(:disabled)::before {
	color: #fff;
	text-shadow: 0 1px 1px #999;
}

.table__payment-btn:disabled {
	border-color: #999;
	background-color: #f6f6f6;
}

.table__payment-btn:disabled::before {
	color: #999;
}

.table__payment-btn_not_payable:disabled {
	border-color: #ff0700;
	background-color: rgba(255, 130, 128, 0.4);
}

.table__payment-btn_not_payable:disabled::before {
	color: #ff0700;
}

.table__copy-btn {
	position: relative;
	width: 25px;
	height: 25px;
	margin: auto 0;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: #e6f2ff;
	transition: 0.1s ease;
	cursor: pointer;
}

.table__copy-btn::before {
	font-family: "icons", serif;
	content: "\e301";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	color: #666;
	transition: 0.1s ease;
}

.table__download-btn {
	position: relative;
	width: 25px;
	height: 25px;
	margin: auto 0;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: #e6f2ff;
	transition: 0.1s ease;
	cursor: pointer;
}

.table__download-btn::before {
	font-family: "icons", serif;
	content: "\e302";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	color: #666;
	transition: 0.1s ease;
}

.table__status-dot {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #ff8280;
}

.table__status-dot_loaded {
	background-color: #80ff88;
}

.table__action-block {
	display: flex;
	align-items: center;
	column-gap: 5px;
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	transition: 0.1s ease;
}

.list-item__action-block {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transition: 0.1s ease;
}

.table__action-btn,
.table__detail-btn {
	position: relative;
	width: 20px;
	height: 20px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: 0.1s ease;
}

.table__action-btn::before,
.table__detail-btn::before {
	font-family: "icons";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	line-height: 20px;
	color: #444;
	transition: 0.1s ease;
}

.table__action-btn_action_edit:before {
	content: "\e200";
}

.table__action-btn_action_license-renewal:before {
	content: "\e201";
}

.table__action-btn_action_ban::before {
	content: "\e202";
	font-weight: 600;
}

.table__action-btn_action_delete:before {
	content: "\e203";
}

.table__action-btn_action_detail-info::before,
.table__detail-btn::before {
	content: "\e204";
}

.table__load-more-btn {
	height: 30px;
	margin: 20px 0 0;
	padding: 5px 0;
	border: none;
	border-radius: 10px;
	font-family: "Open Sans", serif;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	color: #2670b3;
	background-color: #e6f2ff;
	transition: 0.1s ease;
}

.side-block {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5000;
}

.side-btn {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(200, 200, 200, 0.8);
	transition: 0.2s ease;
	cursor: pointer;
}

.side-btn::before {
	font-family: "icons", serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	line-height: 40px;
	color: #666;
	transition: 0.1s ease;
}

.side-btn_action_add:before {
	content: "\e400";
	font-size: 30px;
}

.side-btn_action_detailing::before {
	content: "\e401";
}

.side-btn_action_refresh::before {
	content: "\e402";
	font-weight: 600;
}

.side-btn_action_export::before {
	content: "\e403";
	font-weight: 600;
}

#TasksContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.tasks-container {
	border-radius: 20px;
	border: 1px solid #ccc;
	width: 48%;
	margin-bottom: 55px;
	height: max-content;
}

.tasks-user-name {
	color: #2670b3;
	background: #e6f2ff;
	text-align: center;
	font-size: 17px;
	padding: 10px 0;
	border-radius: 20px;
	border-bottom: 1px solid #ccc;
}

.task-element {
	padding: 10px 10px 25px;
	position: relative;
	display: flex;
	border-radius: 20px;
}

.task-element:nth-child(even) {
	background: #f6f6f6;
}

.task-text {
	font-size: 14px;
	width: 100%;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	white-space: pre-wrap;
	line-height: 1.4em;
}

.task__expandable-text-block {
	align-items: start;
	row-gap: 10px;
	width: 90%;
}

.task__expandable-text-block .expandable-text-block__expanding-text {
	width: 100%;
	height: 45px;
	padding: 0;
	border: none;
	text-indent: 10px;
	background-color: transparent;
}

.task__expandable-text-block .expandable-text-block__resize-btn {
	position: relative;
	width: 200px;
	height: 20px;
	margin: 0;
	padding: 0;
	border-radius: 10px;
}

.task__expandable-text-block .expandable-text-block__resize-btn::before {
	content: "Развернуть";
	top: 0;
	transform: translateX(-50%);
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.1em;
	color: #2670b3;
}

.task__expandable-text-block .expandable-text-block__resize-btn_collapse {
	height: 0;
}

.task__expandable-text-block .expandable-text-block__resize-btn_collapse::before {
	font-size: 0;
	line-height: 0px;
	color: transparent;
}

.task-date {
	font-weight: 600;
	font-size: 11px;
	position: absolute;
	bottom: 8px;
	left: 15px;
	color: #666;
}

.task-actions {
	margin-left: 10px;
	width: 140px;
}

.task__select {
	width: inherit;
	position: relative;
	z-index: 1;
}

.task__select p {
	font-size: 12px;
}

.popup__select .in-waiting {
	color: #666;
	background-color: #f4f4f4;
}

.popup__select .in-work,
.task__select .in-work {
	border-color: #986624;
	color: #986624;
	background-color: #fff4e6;
}

.popup__select .in-work::before,
.task__select .in-work::before {
	color: #986624;
}

.popup__select .in-payment,
.popup__select .is-realizable,
.task__select .in-payment {
	border-color: #1b8422;
	color: #1b8422;
	background-color: #e6ffe6;
}

.popup__select .in-payment::before,
.popup__select .is-realizable::before,
.task__select .in-payment::before {
	color: #1b8422;
}

.popup__select .is-unrealizable {
	border-color: #c8302c;
	color: #c8302c;
	background-color: #ffe6e6;
}

.popup__select .is-unrealizable::before {
	color: #c8302c;
}

.popup__select .is-done,
.task__select .is-done {
	border-color: #2670b3;
	color: #2670b3;
	background-color: #e6f2ff;
}

.popup__select .is-done::before,
.task__select .is-done::before {
	color: #2670b3;
}

.task-actions .buttons {
	display: flex;
	margin-top: 7px;
	justify-content: space-around;
	opacity: 0;
}

.task-element:hover .buttons,
.task-element:hover .table__action-btn {
	opacity: 1;
}

.task__load-more-btn {
	width: 100%;
	height: 30px;
	margin: 5px 0;
	padding: 5px 0;
	border: none;
	border-radius: 20px;
	font-family: "Open Sans", serif;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.1em;
	color: #2670b3;
	background-color: #e6f2ff;
	transition: 0.1s ease-in-out;
}

.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	padding: 10px;
	border-radius: 20px;
	background-color: #fff;
	z-index: 6001;
}

.popup__close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 25px;
	height: 25px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.popup__close-btn::before {
	font-family: "icons", serif;
	content: "\e500";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	line-height: 20px;
	color: #444;
	transition: 0.1s ease;
}

.popup__content {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.popup__header {
	margin: 5px 0;
	padding: 0 20px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

.popup__no-data {
	padding: 5px 0;
	border-radius: 10px;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.15em;
	color: #fff;
	background-color: #999;
	cursor: default;
}

.popup__input-container {
	display: flex;
	justify-content: space-between;
	align-items: end;
	column-gap: 20px;
}

.popup__input-unit,
.popup__textarea-unit {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.popup__label {
	margin: 0 10px 5px;
	font-size: 14px;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: #888;
}

.popup__label_centered,
.popup__input_centered {
	text-align: center;
}

.popup__input,
.popup__number-input,
.popup__date-input,
.popup__textarea {
	width: 100%;
	margin: 0;
	padding: 6px 15px;
	border: 1px solid #999;
	border-radius: 10px;
	outline: none;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #444;
}

.popup__input,
.popup__number-input,
.popup__date-input,
.popup__file-input,
.popup__select-input,
.popup__submit-btn {
	height: 30px;
}

.popup__number-input::-webkit-outer-spin-button,
.popup__number-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.popup__date-input {
	position: relative;
	text-align: center;
	letter-spacing: 0.1em;
}

.popup__date-input::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	border-radius: 5px;
	background-color: #e6f2ff;
	opacity: 0.7;
	transition: 0.1s ease;
}

.popup__file-input-unit {
	position: relative;
}

.popup__file-input {
	width: 100%;
	padding: 4px 15px;
	border: 1px dashed #999;
	border-radius: 10px;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.1em;
	color: #666;
	background-color: #f6f6f6;
	cursor: pointer;
}

.popup__file-input::file-selector-button {
	display: none;
}

.popup__file-storage {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	width: 100%;
	max-height: 60px;
	padding: 0 10px;
	overflow: auto;
}

.popup__file {
	display: flex;
	align-items: center;
	position: relative;
	height: 20px;
	margin-top: 10px;
	padding: 2px 20px 2px 5px;
	border-radius: 5px;
	background-color: #e6f2ff;
}

.popup__file-name {
	color: #2670b3;
	user-select: none;
}

.popup__file-delete-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.popup__file-delete-btn::before {
	font-family: "icons";
	content: "\e500";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px;
	line-height: 15px;
	color: #444;
	transition: 0.1s ease;
}

.edit-app-popup .popup__file-input_drag {
	border-color: #2670b3;
	color: #2670b3;
	background-color: #e6f2ff;
}

.popup__select,
.popup__predictive-input {
	display: flex;
	flex-direction: column;
	position: relative;
}

.popup__select-input {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 5px 30px 5px 15px;
	border: 1px solid #999;
	border-radius: 10px;
	background-color: #fff;
	z-index: 1;
	cursor: pointer;
}

.popup__select-input::before {
	font-family: "icons", serif;
	content: "\e501";
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%) rotateX(0deg);
	font-size: 20px;
	line-height: 20px;
	color: #666;
	transition: 0.2s ease;
}

.popup__select_opened .popup__select-input,
.popup__predictive-input_opened .popup__input {
	z-index: 2;
}

.popup__select_opened .popup__select-input::before {
	transform: translateY(-50%) rotateX(180deg);
}

.popup__select-input-value {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.05em;
	user-select: none;
}

.popup__select-input-value_unselected {
	color: #666;
}

.popup__select-option-list,
.popup__prediction-list {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	max-height: 150px;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
	border-radius: 0 0 10px 10px;
	overflow: auto;
	list-style: none;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(200, 200, 200, 0.4);
}

.popup__select-option-list::-webkit-scrollbar,
.popup__prediction-list::-webkit-scrollbar {
	width: 5px;
}

.popup__select-option-list::-webkit-scrollbar-track,
.popup__prediction-list::-webkit-scrollbar-track {
	border-radius: 2.5px;
	background-color: rgba(68, 68, 68, 0.2);
}

.popup__select-option-list::-webkit-scrollbar-thumb,
.popup__prediction-list::-webkit-scrollbar-thumb {
	border: none;
	border-radius: 2.5px;
	background-color: #999;
}

.popup__select_opened .popup__select-option-list,
.popup__predictive-input_opened .popup__prediction-list {
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.popup__select-option,
.popup__prediction {
	padding: 0 10px;
	transition: 0.1s ease;
	cursor: pointer;
}

.popup__select-option:first-child,
.popup__prediction:first-child {
	padding-top: 10px;
}

.popup__select-option:nth-child(n + 2) .popup__select-option-value,
.popup__prediction:nth-child(n + 2) .popup__prediction-value {
	border-top: 1px solid #999;
}

.popup__select-option-value,
.popup__prediction-value {
	padding: 0 5px;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	letter-spacing: 0.05em;
	user-select: none;
}

.popup__toggle-btn {
	padding: 6px 15px;
	border: 1px solid #999;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 0.1em;
	background-color: #f4f4f4;
	transition: 0.2s ease;
	cursor: pointer;
}

.popup__toggle-btn_toggled {
	border-color: #2670b3;
	color: #2670b3;
	background-color: #e6f2ff;
}

.popup__textarea {
	resize: none;
	overflow: hidden;
}

.popup__textarea:read-only {
	cursor: default;
}

.popup__action-list,
.popup__bet-list {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	max-height: 500px;
	overflow: auto;
}

.popup__action-list::-webkit-scrollbar,
.popup__bet-list::-webkit-scrollbar {
	width: 5px;
}

.popup__action-list::-webkit-scrollbar-track,
.popup__bet-list::-webkit-scrollbar-track {
	border-radius: 2.5px;
	background-color: rgba(68, 68, 68, 0.2);
}

.popup__action-list::-webkit-scrollbar-thumb,
.popup__bet-list::-webkit-scrollbar-thumb {
	border: none;
	border-radius: 2.5px;
	background-color: #999;
}

.popup__action-block {
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding: 5px 15px;
	border-radius: 10px;
	background-color: #f4f4f4;
}

.popup__bet-block {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

.popup__bet-coupon {
	padding: 5px 10px;
	background-color: #e6f2ff;
}

.popup__bet-coupon:first-child {
	border-radius: 10px 10px 0 0;
}

.popup__bet-coupon:nth-child(even) {
	background-color: rgb(230, 242, 255, 0.5);
}

.popup__bet-game {
	text-align: center;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.1em;
}

.popup__bet-market {
	line-height: 20px;
}

.popup__bet-odd {
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.05em;
}

.popup__bet-odd-amount {
	letter-spacing: 0.1em;
}

.popup__bet-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	padding: 5px 10px;
	border-radius: 0 0 10px 10px;
	color: #fff;
	background-color: #80c2ff;
}

.popup__bet-detail {
	display: flex;
	align-items: center;
	column-gap: 20px;
}

.popup__bet-date {
	letter-spacing: 0.1em;
}

.popup__bet-status {
	font-weight: 600;
	letter-spacing: 0.05em;
}

.popup__bet-size {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.popup__bet-currency {
	font-weight: 600;
	letter-spacing: 0.05em;
}

.popup__bet-amount {
	letter-spacing: 0.1em;
}

.popup__action-info {
	display: flex;
	flex-direction: column;
	max-width: 445px;
}

.popup__action-title {
	line-height: 20px;
}

.popup__action-message {
	overflow-wrap: anywhere;
	margin-top: 5px;
	text-indent: 10px;
	text-wrap: balance;
	white-space: pre-wrap;
	font-size: 13px;
	line-height: 15px;
}

.popup__action-date {
	width: 85px;
	text-align: right;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.1em;
}

.popup__submit-btn {
	width: 100%;
	padding: 5px 0;
	border-radius: 10px;
	border: none;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.2em;
	cursor: pointer;
}

.popup__submit-btn {
	transition: 0.1s ease;
}

.popup__button-container {
	display: flex;
	column-gap: 20px;
}

.popup__submit-btn_action_accept,
.popup__submit-btn_action_add {
	color: #1b8422;
	background-color: #e6ffe6;
}

.popup__submit-btn_action_edit,
.popup__submit-btn_action_license-renewal,
.popup__submit-btn_action_detail,
.popup__submit-btn_action_export {
	color: #2670b3;
	background-color: #e6f2ff;
}

.popup__submit-btn_action_reject {
	color: #444;
	background-color: #eee;
}

.popup__submit-btn_action_ban {
	color: #986624;
	background-color: #fff4e6;
}

.popup__submit-btn_action_delete {
	color: #c8302c;
	background-color: #ffe6e6;
}

.popup__edit-license-period-input-unit,
.popup__edit-period-select {
	width: 50%;
}

.detailing-popup__income-detail {
	display: none;
	/*	display: flex;*/
	flex-direction: column;
	row-gap: 10px;
}

.detailing-popup__income-container {
	display: flex;
	column-gap: 20px;
}

.detailing-popup__income-container .detailing-popup__income-item {
	width: 50%;
}

.detailing-popup__income-item {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.detailing-popup__income-item_total {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
	width: 100%;
	padding: 5px 0;
	border-radius: 10px;
	background-color: #e6ffe6;
}

.detailing-popup__income-item-name {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.05em;
	color: #666;
}

.detailing-popup__income-item_total .detailing-popup__income-item-name {
	letter-spacing: 0.1em;
	color: #1b8422;
}

.detailing-popup__income-item-value {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.1em;
}

.detailing-popup__income-item_total .detailing-popup__income-item-value {
	font-weight: 400;
	letter-spacing: 0.15em;
	color: #1b8422;
}

.action-detail-popup {
	width: 1000px;
}

.action-detail-popup__action-detail-block {
	display: flex;
	column-gap: 20px;
}

.action-detail-popup__pre-action-block,
.action-detail-popup__post-action-block {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.action-detail-popup .popup__textarea {
	height: 100%;
}

.detailing-popup__language-btn {
	position: relative;
	min-width: 110px;
	height: 30px;
	padding: 6px 30px 6px 15px;
	border: 1px solid #2670b3;
	border-radius: 10px;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 0.1em;
	color: #2670b3;
	background-color: #e6f2ff;
	transition: 0.2s ease;
	user-select: none;
	cursor: pointer;
}

.detailing-popup__language-btn::before {
	font-family: "icons";
	content: "\e502";
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	width: 20px;
	font-size: 18px;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(68, 68, 68, 0.8);
	z-index: 6000;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

.background li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(127, 212, 255, 0.2);
	animation: animate 25s linear infinite;
	bottom: -150px;
}

.background li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.background li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.background li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.background li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.background li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.background li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.background li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.background li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.background li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.background li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}
