<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../static/css/notifications.css">
		<link rel="stylesheet" href="../static/css/panel.css">
		<link rel="stylesheet" href="../static/css/panel-media.css">
		<link rel="stylesheet" href="../static/css/font.css">
		<link rel="stylesheet" href="../static/css/icons.css">
		<title>Админ панель</title>
	</head>
	<body>
		<!-- Меню навигации -->
		<header class="header">
			<div class="burger">
				<input type="checkbox" id="burger-checkbox">
				<label for="burger-checkbox"></label>
			</div>
			<nav class="header__navigation">
				<button class="header__navigation-item" data-table="main-content_table_user-table">Пользователи</button>
				<button class="header__navigation-item" data-table="main-content_table_application-table">Приложения</button>
				<button class="header__navigation-item" data-table="main-content_table_session-table">Сессии</button>
				<button class="header__navigation-item" data-table="main-content_table_tasks">Задачи</button>
				<button class="header__navigation-item" data-table="main-content_table_income-table">Доходы</button>
			</nav>
		</header>

		<!-- Блок таблицы пользователей -->
		<div class="main-content main-content_table_user-table">
			<div class="container">
				<div class="table table_content_users" id="user-table">
					<form class="table__search" onsubmit="searchTableUsers(event)">
						<input type="text" class="table__search-input" placeholder="Поиск" id="searchInputUsers" autocomplete="off">
						<button type="submit" class="table__search-btn"></button>
					</form>
					<div class="table__table-name">Таблица пользователей</div>
					<div class="table__header">
						<div class="table__column table__column_content_id">
							<p class="table__column-name">ID</p>
						</div>
						<div class="table__column table__column_content_application">
							<p class="table__column-name">Application</p>
						</div>
						<div class="table__column table__column_content_secret-key">
							<p class="table__column-name">Secret key</p>
						</div>
						<div class="table__column table__column_content_description">
							<p class="table__column-name">Description</p>
						</div>
						<div class="table__column table__column_content_version">
							<p class="table__column-name">Version</p>
						</div>
						<div class="table__column table__column_content_last-use">
							<p class="table__column-name">Last use</p>
						</div>
						<div class="table__column table__column_content_end-license">
							<p class="table__column-name">End license</p>
						</div>
						<div class="table__column table__column_content_connections">
							<p class="table__column-name">Conns</p>
						</div>
						<div class="table__column table__column_content_tg-id">
							<p class="table__column-name">Telegram ID</p>
						</div>
						<div class="table__column table__column_content_creator">
							<p class="table__column-name">Creator</p>
						</div>
						<div class="table__column table__column_content_creation-date">
							<p class="table__column-name">Creation date</p>
						</div>
						<div class="table__column table__column_content_banned">
							<p class="table__column-name">Banned</p>
						</div>
					</div>
					<div class="table__content" id="tableContentUsers"></div>
				</div>
			</div>

			<div class="side-block">
				<button class="side-btn side-btn_action_add-user" id="add-user-button" onclick="openAddWindow()"></button>
			</div>

			<!-- Popup для добавления пользователя -->
			<div class="popup add-user-popup" id="add-user-popup">
				<button class="popup__close-btn" onclick="closePopup()"></button>
				<div class="popup__content">
					<p class="popup__header">Добавление нового пользователя</p>
					<div class="popup__input-container">
						<div class="popup__input-unit">
							<label for="application-name" class="popup__label">Название приложения</label>
							<div class="popup__predictive-input">
								<input type="text" name="application-name" class="popup__input" id="application-name">
								<ul class="popup__prediction-list">
									<li class="popup__prediction">
										<p class="popup__prediction-value">1xFreez</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="popup__input-unit">
							<label for="secret-key-user" class="popup__label">Секретный ключ</label>
							<input type="text" class="popup__input" id="secret-key-user" spellcheck="false">
						</div>
					</div>
					<div class="popup__input-container">
						<div class="popup__input-unit popup__edit-license-period-input-unit">
							<label for="count-period-addUser" class="popup__label">Срок лицензии</label>
							<input id="count-period-addUser" type="number" min="0" name="license-period" class="popup__number-input">
						</div>
						<div class="popup__select popup__edit-period-select" id="selector-period-addUser">
							<div class="popup__select-input" onclick="openSelector(this)">
								<p class="popup__select-input-value popup__select-input-value_unselected" id="period-addUser">Выберите период</p>
							</div>
							<ul class="popup__select-option-list">
								<li class="popup__select-option" onclick="selectCurrentValue(this)">
									<p class="popup__select-option-value">Час</p>
								</li>
								<li class="popup__select-option" onclick="selectCurrentValue(this)">
									<p class="popup__select-option-value">День</p>
								</li>
								<li class="popup__select-option" onclick="selectCurrentValue(this)">
									<p class="popup__select-option-value">Неделя</p>
								</li>
								<li class="popup__select-option" onclick="selectCurrentValue(this)">
									<p class="popup__select-option-value">Месяц</p>
								</li>
								<li class="popup__select-option" onclick="selectCurrentValue(this)">
									<p class="popup__select-option-value">Год</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="popup__input-container">
						<div class="popup__input-unit">
							<label for="max-connections" class="popup__label">Максимум подключений</label>
							<input type="number" id="max-connections" name="max-connections" min="0" class="popup__number-input">
						</div>
						<div class="popup__input-unit">
							<label for="telegram-id-user" class="popup__label">Telegram пользователя</label>
							<input type="text" name="telegram-id" class="popup__input" id="telegram-id-user">
						</div>
					</div>
					<div class="popup__textarea-unit">
						<label for="description-user" class="popup__label">Описание пользователя</label>
						<textarea name="description-user" class="popup__textarea" rows="3" id="description-user"></textarea>
					</div>
					<button class="popup__submit-btn popup__add-user-btn" onclick="addUser()">Добавить</button>
				</div>
			</div>

			<!-- Popup для редактирования пользователя -->
			<div class="popup edit-user-popup" id="edit-user-popup">
				<button class="popup__close-btn" onclick="closePopup()"></button>
				<div class="popup__content">
					<p class="popup__header">Изменение данных пользователя</p>
					<div class="popup__input-container">
						<div class="popup__input-unit">
							<label for="application-name" class="popup__label">Название приложения</label>
							<div class="popup__predictive-input">
								<input type="text" name="application-name" class="popup__input" id="edit-user-application">
								<ul class="popup__prediction-list">
									<li class="popup__prediction">
										<p class="popup__prediction-value">1xFreez</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="popup__input-unit">
							<label for="secret-key-edit-user" class="popup__label">Секретный ключ</label>
							<input type="text" class="popup__input" id="secret-key-edit-user" spellcheck="false">
						</div>
					</div>
					<div class="popup__input-container">
						<div class="popup__input-unit popup__edit-max-connections-input-unit">
							<label for="max-connections" class="popup__label">Максимум подключений</label>
							<input type="number" name="max-connections" min="0" class="popup__number-input" id="edit-max-connections">
						</div>
						<div class="popup__input-unit popup__edit-tg-id-input-unit">
							<label for="telegram-id-user-edit" class="popup__label">Telegram пользователя</label>
							<input type="text" class="popup__input" id="telegram-id-user-edit">
						</div>
					</div>
					<div class="popup__textarea-unit">
						<label for="description-user" class="popup__label">Описание пользователя</label>
						<textarea name="description-user" class="popup__textarea" rows="3" id="description-edit-user"></textarea>
					</div>
					<button class="popup__submit-btn popup__edit-user-btn" id="edit-user-button" onclick="editUser(this)">Изменить</button>
				</div>
			</div>

			<!-- Popup для изменения срока лицензии -->
			<div class="popup license-renewal-popup" id="date-shift-popup">
				<button class="popup__close-btn" onclick="closePopup()"></button>
				<div class="popup__content">
					<p class="popup__header">Продление лицензии</p>
					<div class="popup__input-container">
						<div class="popup__input-unit popup__edit-license-period-input-unit">
							<label for="license-period" class="popup__label">Срок продления</label>
							<input id="license-period" type="number" name="license-period" class="popup__number-input">
						</div>
						<div class="popup__select popup__edit-period-select" id="selector-period-editLicense">
							<div class="popup__select-input" onclick="openSelector(this)">
								<p class="popup__select-input-value popup__select-input-value_unselected" id="period-editLicense">Выберите период</p>
							</div>
							<ul class="popup__select-option-list">
								<li class="popup__select-option" onclick="selectCurrentValue(this)">
									<p class="popup__select-option-value">Час</p>
								</li>
								<li class="popup__select-option" onclick="selectCurrentValue(this)">
									<p class="popup__select-option-value">День</p>
								</li>
								<li class="popup__select-option" onclick="selectCurrentValue(this)">
									<p class="popup__select-option-value">Неделя</p>
								</li>
								<li class="popup__select-option" onclick="selectCurrentValue(this)">
									<p class="popup__select-option-value">Месяц</p>
								</li>
								<li class="popup__select-option" onclick="selectCurrentValue(this)">
									<p class="popup__select-option-value">Год</p>
								</li>
							</ul>
						</div>
					</div>
					<button class="popup__submit-btn popup__license-renewal-btn" id="date-shift-button" onclick="editEndLicenseUser(this)">Продлить</button>
				</div>
			</div>

			<!-- Popup для бана пользователя -->
			<div class="popup ban-user-popup" id="ban-user-popup">
				<div class="popup__content">
					<p class="popup__header">Вы уверены, что хотите заблокировать пользователя?</p>
					<div class="popup__button-container">
						<button class="popup__submit-btn popup__ban-btn" id="ban-user-button" onclick="banUser(this)">Заблокировать</button>
						<button class="popup__submit-btn popup__reject-btn" onclick="closePopup()">Отмена</button>
					</div>
				</div>
			</div>

			<!-- Popup для удаления пользователя -->
			<div class="popup delete-user-popup" id="delete-user-popup">
				<div class="popup__content">
					<p class="popup__header">Вы уверены, что хотите удалить пользователя?</p>
					<div class="popup__button-container">
						<button class="popup__submit-btn popup__delete-btn" id="delete-user-button" onclick="deleteUser(this)">Удалить</button>
						<button class="popup__submit-btn popup__reject-btn" onclick="closePopup()">Отмена</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Блок таблицы приложений -->
		<div class="main-content main-content_table_application-table">
			<div class="container">
				<div class="table table_content_applications" id="application-table">
					<form class="table__search" onsubmit="searchTableApps(event)">
						<input type="text" class="table__search-input" placeholder="Поиск" id="searchInputApps" autocomplete="off">
						<button type="submit" class="table__search-btn"></button>
					</form>
					<div class="table__table-name">Таблица приложений</div>
					<div class="table__header">
						<div class="table__column table__column_content_id">
							<p class="table__column-name">ID</p>
						</div>
						<div class="table__column table__column_content_name">
							<p class="table__column-name">Name</p>
						</div>
						<div class="table__column table__column_content_version">
							<p class="table__column-name">Version</p>
						</div>
						<div class="table__column table__column_content_description">
							<p class="table__column-name">Description</p>
						</div>
						<div class="table__column table__column_content_tg-channel-id">
							<p class="table__column-name">Channel ID</p>
						</div>
						<div class="table__column table__column_content_active-keys">
							<p class="table__column-name">Active keys</p>
						</div>
					</div>
					<div class="table__content" id="tableContentApps"></div>
				</div>
			</div>

			<div class="side-block">
				<button class="side-btn side-btn_action_add-app" id="add-app-button" onclick="openAddApplicationWindow()"></button>
			</div>

			<!-- Popup для добавления приложения -->
			<div class="popup add-app-popup" id="add-app-popup">
				<button class="popup__close-btn" onclick="closePopup()"></button>
				<div class="popup__content">
					<p class="popup__header">Добавление нового приложения</p>
					<div class="popup__input-container">
						<div class="popup__input-unit">
							<label for="application-name" class="popup__label">Название приложения</label>
							<input type="text" name="application-name" class="popup__input" id="name-app">
						</div>
						<div class="popup__input-unit">
							<label for="version-app" class="popup__label">Версия приложения</label>
							<input type="text" class="popup__input" id="version-app">
						</div>
					</div>
					<div class="popup__input-unit">
						<label for="telegram-channel-id" class="popup__label">Telegram канал</label>
						<input type="text" name="telegram-channel-id" class="popup__input" id="telegram-channel-id">
					</div>
					<div class="popup__textarea-unit">
						<label for="description-app" class="popup__label">Описание приложения</label>
						<textarea name="description-app" class="popup__textarea" rows="3" id="description-app"></textarea>
					</div>
					<button class="popup__submit-btn popup__add-app-btn" onclick="addApplication()">Добавить</button>
				</div>
			</div>

			<!-- Popup для редактирования приложения -->
			<div class="popup edit-app-popup" id="edit-app-popup">
				<button class="popup__close-btn" onclick="closePopup()"></button>
				<div class="popup__content">
					<p class="popup__header">Изменение данных приложения</p>
					<div class="popup__input-container">
						<div class="popup__input-unit">
							<label for="application-name" class="popup__label">Название приложения</label>
							<input type="text" name="application-name" class="popup__input" id="name-edit-app">
						</div>
						<div class="popup__input-unit">
							<label for="version-edit-app" class="popup__label">Версия приложения</label>
							<input type="text" class="popup__input" id="version-edit-app">
						</div>
					</div>
					<div class="popup__input-unit">
						<label for="telegram-channel-id" class="popup__label">Telegram канал</label>
						<input type="text" name="telegram-channel-id" class="popup__input" id="telegram-channel-app">
					</div>
					<div class="popup__textarea-unit">
						<label for="description-app" class="popup__label">Описание приложения</label>
						<textarea name="description-app" class="popup__textarea" rows="3" id="description-edit-app"></textarea>
					</div>
					<button class="popup__submit-btn popup__edit-app-btn" id="edit-app-button" onclick="editApp(this)">Изменить</button>
				</div>
			</div>

			<!-- Popup для удаления приложения -->
			<div class="popup delete-app-popup" id="delete-app-popup">
				<div class="popup__content">
					<p class="popup__header">Вы уверены, что хотите удалить приложение?</p>
					<div class="popup__button-container">
						<button class="popup__submit-btn popup__delete-btn" id="delete-app-button" onclick="deleteApp(this)">Удалить</button>
						<button class="popup__submit-btn popup__reject-btn" onclick="closePopup()">Отмена</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Блок таблицы доходов -->
		<div class="main-content main-content_table_income-table">
			<div class="container">
				<div class="table table_content_income" id="income-table">
					<form class="table__search" onsubmit="searchTableIncomes(event)">
						<input type="text" class="table__search-input" placeholder="Поиск" id="searchInputIncomes" autocomplete="off">
						<button type="submit" class="table__search-btn"></button>
					</form>
					<div class="table__table-name">Таблица доходов</div>
					<div class="table__header">
						<div class="table__column table__column_content_application">
							<p class="table__column-name">Application</p>
						</div>
						<div class="table__column table__column_content_secret-key">
							<p class="table__column-name">Secret key</p>
						</div>
						<div class="table__column table__column_content_price">
							<p class="table__column-name">Price</p>
						</div>
						<div class="table__column table__column_content_discount">
							<p class="table__column-name">Discount</p>
						</div>
						<div class="table__column table__column_content_discounted-price">
							<p class="table__column-name">Discounted price</p>
						</div>
						<div class="table__column table__column_content_partner">
							<p class="table__column-name">Partner</p>
						</div>
						<div class="table__column table__column_content_partner-percentage">
							<p class="table__column-name">Partner percentage</p>
						</div>
						<div class="table__column table__column_content_date">
							<p class="table__column-name">Date</p>
						</div>
						<div class="table__column table__column_content_description">
							<p class="table__column-name">Description</p>
						</div>
					</div>
					<div class="table__content" id="tableContentIncomes"></div>
				</div>
			</div>

			<div class="side-block">
				<button class="side-btn side-btn_action_detailing" id="detailing-button" onclick="openDetailingWindow()"></button>
				<button class="side-btn side-btn_action_add-sale-record" id="add-income-button" onclick="openAddIncomeWindow()"></button>
			</div>

			<!-- Popup для детализации доходов -->
			<div class="popup detailing-popup" id="detailing-popup">
				<button class="popup__close-btn" onclick="closePopup()"></button>
				<div class="popup__content">
					<p class="popup__header">Детализация доходов</p>
					<div class="popup__input-container">
						<div class="popup__input-unit">
							<label for="application-name" class="popup__label popup__label_centered">Начальная дата</label>
							<input type="date" name="application-name" class="popup__date-input" id="date-start">
						</div>
						<div class="popup__input-unit">
							<label for="secret-key-user" class="popup__label popup__label_centered">Конечная дата</label>
							<input type="date" class="popup__date-input" id="date-end">
						</div>
					</div>
					<div class="detailing-popup__income-detail">
						<div class="detailing-popup__income-item detailing-popup__income-item_total">
							<p class="detailing-popup__income-item-name">Общий доход</p>
							<p class="detailing-popup__income-item-value" id="totalIncome">10000 $</p>
						</div>
						<div class="detailing-popup__income-container">
							<div class="detailing-popup__income-item">
								<p class="detailing-popup__income-item-name">Доход партнеров</p>
								<p class="detailing-popup__income-item-value" id="totalPartnerIncome">1000 $</p>
							</div>
							<div class="detailing-popup__income-item">
								<p class="detailing-popup__income-item-name">Доход сервиса</p>
								<p class="detailing-popup__income-item-value" id="serviceIncome">1000 $</p>
							</div>
						</div>
						<div class="detailing-popup__income-container">
							<div class="detailing-popup__income-item">
								<p class="detailing-popup__income-item-name">Доход iQworte</p>
								<p class="detailing-popup__income-item-value" id="qworteIncome">1000 $</p>
							</div>
							<div class="detailing-popup__income-item">
								<p class="detailing-popup__income-item-name">Доход Vincent</p>
								<p class="detailing-popup__income-item-value" id="vincentIncome">1000 $</p>
							</div>
						</div>
					</div>
					<button class="popup__submit-btn popup__detail-btn" onclick="getIncomesInfo()">Рассчитать</button>
				</div>
			</div>

			<!-- Popup для добавления записи о доходе -->
			<div class="popup add-sale-record-popup" id="add-income-popup">
				<button class="popup__close-btn" onclick="closePopup()"></button>
				<div class="popup__content">
					<p class="popup__header">Добавление новой записи</p>
					<div class="popup__input-container">
						<div class="popup__input-unit">
							<label for="application-name" class="popup__label">Название приложения</label>
							<input type="text" name="application-name" class="popup__input" id="income-name-application">
						</div>
						<div class="popup__input-unit">
							<label for="income-secretKey" class="popup__label">Секретный ключ</label>
							<input type="text" name="secret-key" class="popup__input" id="income-secretKey" spellcheck="false">
						</div>
					</div>
					<div class="popup__input-container">
						<div class="popup__input-unit popup__price-input-unit">
							<label for="price" class="popup__label">Цена</label>
							<input type="number" min="0" name="price" class="popup__number-input" id="income-price">
						</div>
						<div class="popup__input-unit popup__discount-input-unit">
							<label for="discount" class="popup__label">Скидка</label>
							<input type="number" min="0" max="100" name="discount" class="popup__number-input" id="income-discount">
						</div>
					</div>
					<div class="popup__input-container">
						<div class="popup__input-unit popup__partner-input-unit">
							<label for="partner" class="popup__label">Партнер</label>
							<div class="popup__predictive-input">
								<input type="text" name="partner" class="popup__input" id="income-partner">
								<ul class="popup__prediction-list">
									<li class="popup__prediction">
										<p class="popup__prediction-value">ABCDEFGHIJ</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="popup__input-unit popup__partner-percentage-input-unit">
							<label for="partner-percentage" class="popup__label">Процент партнера</label>
							<input type="number" min="0" max="100" name="partner-percentage" class="popup__number-input" id="income-percentagePartner">
						</div>
					</div>
					<div class="popup__textarea-unit">
						<label for="description-sale-record" class="popup__label">Описание записи</label>
						<textarea name="description-sale-record" class="popup__textarea" rows="3" id="income-description"></textarea>
					</div>
					<button class="popup__submit-btn popup__add-sale-record-btn" onclick="addIncome()">Добавить</button>
				</div>
			</div>

			<!-- Popup для подтверждения оплаты -->
			<div class="popup confirm-payment-popup" id="confirm-payment-popup">
				<div class="popup__content">
					<p class="popup__header">Вы уверены, что выплатили партнеру?</p>
					<div class="popup__button-container">
						<button class="popup__submit-btn popup__accept-btn" id="accept-payment-button" onclick="paidOut(this)">Подтвердить</button>
						<button class="popup__submit-btn popup__reject-btn" onclick="closePopup()">Отмена</button>
					</div>
				</div>
			</div>

			<!-- Popup для редактирования записи о доходе -->
			<div class="popup edit-sale-record-popup" id="edit-income-popup">
				<button class="popup__close-btn" onclick="closePopup()"></button>
				<div class="popup__content">
					<p class="popup__header">Изменение данных записи</p>
					<div class="popup__input-container">
						<div class="popup__input-unit">
							<label for="application-name" class="popup__label">Название приложения</label>
							<input type="text" name="application-name" class="popup__input" id="edit-application-income">
						</div>
						<div class="popup__input-unit">
							<label for="edit-income-secretKey" class="popup__label">Секретный ключ</label>
							<input id="edit-income-secretKey" type="text" name="edit-income-secretKey" class="popup__input" spellcheck="false">
						</div>
					</div>
					<div class="popup__input-container">
						<div class="popup__input-unit popup__edit-price-input-unit">
							<label for="price" class="popup__label">Цена</label>
							<input id="price" type="number" min="0" name="price" class="popup__number-input">
						</div>
						<div class="popup__input-unit popup__edit-discount-input-unit">
							<label for="discount" class="popup__label">Скидка</label>
							<input id="discount" type="number" min="0" max="100" name="discount" class="popup__number-input">
						</div>
					</div>
					<div class="popup__input-container">
						<div class="popup__input-unit popup__edit-partner-input-unit">
							<label for="partner" class="popup__label">Партнер</label>
							<div class="popup__predictive-input">
								<input id="partner" type="text" name="partner" class="popup__input">
								<ul class="popup__prediction-list">
									<li class="popup__prediction">
										<p class="popup__prediction-value">ABCDEFGHIJ</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="popup__input-unit popup__edit-partner-percentage-input-unit">
							<label for="partner-percentage" class="popup__label">Процент партнера</label>
							<input id="partner-percentage" type="number" min="0" max="100" name="partner-percentage" class="popup__number-input">
						</div>
					</div>
					<div class="popup__textarea-unit">
						<label for="description-sale-record" class="popup__label">Описание записи</label>
						<textarea id="description-sale-record" name="description-sale-record" class="popup__textarea" rows="3"></textarea>
					</div>
					<button class="popup__submit-btn popup__edit-sale-record-btn" id="edit-income-button" onclick="editIncome(this)">Изменить</button>
				</div>
			</div>

			<!-- Popup для удаления записи о доходе -->
			<div class="popup delete-sale-record-popup" id="delete-income-popup">
				<div class="popup__content">
					<p class="popup__header">Вы уверены, что хотите удалить запись?</p>
					<div class="popup__button-container">
						<button class="popup__submit-btn popup__delete-btn" id="delete-income-button" onclick="deleteIncome(this)">Удалить</button>
						<button class="popup__submit-btn popup__reject-btn" onclick="closePopup()">Отмена</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Блок таблицы сессий -->
		<div class="main-content main-content_table_session-table">
			<div class="container">
				<div class="table table_content_sessions" id="session-table">
					<form class="table__search" onsubmit="searchTableSessions(event)">
						<input type="text" class="table__search-input" placeholder="Поиск" id="searchInputSessions" autocomplete="off">
						<button type="submit" class="table__search-btn"></button>
					</form>
					<div class="table__table-name">Таблица сессий</div>
					<div class="table__header">
						<div class="table__column table__column_content_id">
							<p class="table__column-name">ID</p>
						</div>
						<div class="table__column table__column_content_application">
							<p class="table__column-name">Application</p>
						</div>
						<div class="table__column table__column_content_secret-key">
							<p class="table__column-name">Secret key</p>
						</div>
						<div class="table__column table__column_content_hash">
							<p class="table__column-name">Hash</p>
						</div>
						<div class="table__column table__column_content_ip">
							<p class="table__column-name">IP</p>
						</div>
						<div class="table__column table__column_content_actions">
							<p class="table__column-name">Actions</p>
						</div>
						<div class="table__column table__column_content_bets">
							<p class="table__column-name">Bets</p>
						</div>
						<div class="table__column table__column_content_creation-date">
							<p class="table__column-name">Creation</p>
						</div>
					</div>
					<div class="table__content" id="session-table-content">
						<div class="table__row">
							<div class="table__cell table__cell_content_id" data-label="ID">
								<p class="table__cell-text">10000</p>
							</div>
							<div class="table__cell table__cell_content_application" data-label="Application">
								<p class="table__cell-text">1XFreez Manual</p>
							</div>
							<div class="table__cell table__cell_content_secret-key" data-label="Secret key">
								<p class="table__cell-text">HFGD-HGFD-HGFD-HGFD</p>
							</div>
							<div class="table__cell table__cell_content_hash" data-label="Hash">
								<p class="table__cell-text">e6a98811-0c17-44a2-be10-79f7ffc23dc9</p>
							</div>
							<div class="table__cell table__cell_content_ip" data-label="IP">
								<p class="table__cell-text">192.255.255.255 Denmark, Copenhagen, Capital Region</p>
							</div>
							<div class="table__cell table__cell_content_actions" data-label="Actions">
								<p class="table__cell-text">100</p>
								<button class="table__detail-btn"></button>
							</div>
							<div class="table__cell table__cell_content_bets" data-label="Bets">
								<p class="table__cell-text">100</p>
								<button class="table__detail-btn"></button>
							</div>
							<div class="table__cell table__cell_content_creation-date" data-label="Creation">
								<p class="table__cell-text">01.01.2020 12:00</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Popup детализации действий -->
			<div class="popup action-detail-popup" id="action-detail-popup">
				<button class="popup__close-btn" onclick="closePopup()"></button>
				<div class="popup__content">
					<p class="popup__header">Детализация действий</p>
					<div class="popup__action-list" id="detail-action">
						<div class="popup__action-block">
							<div class="popup__action-info">
								<p class="popup__action-title">title</p>
								<p class="popup__action-message">message message message message message message message message message message</p>
							</div>
							<p class="popup__action-date">01.01.2000 12:00:00</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Popup детализации ставок -->
			<div class="popup session-bet-detail-popup" id="session-bet-detail-popup">
				<button class="popup__close-btn" onclick="closePopup()"></button>
				<div class="popup__content">
					<p class="popup__header">Детализация ставок</p>
					<div class="popup__bet-list">
						<div class="popup__bet-block">
							<div class="popup__bet-coupon">
								<p class="popup__bet-game">Russia - America</p>
								<p class="popup__bet-market">№1 Quarter - Total: Over 0/5</p>
								<p class="popup__bet-odd">Коэффициент: <span class="popup__bet-odd-amount">1.75</span></p>
							</div>
							<div class="popup__bet-info">
								<div class="popup__bet-detail">
									<p class="popup__bet-date">01.01.2020 12:00:00</p>
									<p class="popup__bet-status">lose</p>
								</div>
								<div class="popup__bet-size">
									<p class="popup__bet-currency">RUB</p>
									<p class="popup__bet-amount">100</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Блок таблицы задач -->
		<div class="main-content main-content_table_tasks">
			<div class="container">
				<div class="table table_content_tasks" id="tasks-table">
					<div class="table__table-name">Список задач</div>
					<div class="table__content" id="TasksContainer"></div>
				</div>
			</div>

			<div class="side-block">
				<button class="side-btn side-btn_action_add-user" id="add-task-button" onclick="openAddTaskWindow()"></button>
			</div>

			<!-- Popup для добавления задачи -->
			<div class="popup add-task-popup" id="add-task-popup">
				<button class="popup__close-btn" onclick="closePopup()"></button>
				<div class="popup__content">
					<p class="popup__header">Добавление новой задачи</p>
					<div class="popup__input-container">
						<div class="popup__input-unit">
							<label class="popup__label">Исполнитель задачи</label>
							<div class="popup__select" id="selector-executor-addTask">
								<div class="popup__select-input" onclick="openSelector(this)">
									<p class="popup__select-input-value popup__select-input-value_unselected" id="executor-addTask">Выберите исполнителя</p>
								</div>
								<ul class="popup__select-option-list">
									<li class="popup__select-option" onclick="selectCurrentValue(this)">
										<p class="popup__select-option-value">User 1</p>
									</li>
									<li class="popup__select-option" onclick="selectCurrentValue(this)">
										<p class="popup__select-option-value">User 2</p>
									</li>
									<li class="popup__select-option" onclick="selectCurrentValue(this)">
										<p class="popup__select-option-value">User 3</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="popup__input-unit">
							<label class="popup__label">Статус задачи</label>
							<div class="popup__select" id="selector-status-addTask">
								<div class="popup__select-input" onclick="openSelector(this)">
									<p class="popup__select-input-value" id="status-addTask">Рассмотрение</p>
								</div>
								<ul class="popup__select-option-list">
									<li class="popup__select-option" onclick="selectCurrentValue(this)">
										<p class="popup__select-option-value">Рассмотрение</p>
									</li>
									<li class="popup__select-option" onclick="selectCurrentValue(this)">
										<p class="popup__select-option-value">В работе</p>
									</li>
									<li class="popup__select-option" onclick="selectCurrentValue(this)">
										<p class="popup__select-option-value">Завершено</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="popup__textarea-unit">
						<label for="task-text" class="popup__label">Описание задачи</label>
						<textarea name="task-text" class="popup__textarea" rows="5" id="task-text"></textarea>
					</div>
					<button class="popup__submit-btn popup__add-task-btn" onclick="addTask()">Добавить</button>
				</div>
			</div>

			<!-- Popup для редактирования задачи -->
			<div class="popup edit-task-popup" id="edit-task-popup">
				<button class="popup__close-btn" onclick="closePopup()"></button>
				<div class="popup__content">
					<p class="popup__header">Изменение задачи</p>
					<div class="popup__textarea-unit">
						<label for="edit-task-text" class="popup__label">Описание задачи</label>
						<textarea name="edit-task-text" class="popup__textarea" rows="5" id="edit-task-text"></textarea>
					</div>
					<button class="popup__submit-btn popup__edit-task-btn" id="edit-task-button" onclick="editTask(this)">Изменить</button>
				</div>
			</div>
			<!-- Popup для удаления задачи -->
			<div class="popup delete-task-popup" id="delete-task-popup">
				<div class="popup__content">
					<p class="popup__header">Вы уверены, что хотите удалить задачу?</p>
					<div class="popup__button-container">
						<button class="popup__submit-btn popup__delete-btn" id="delete-task-button" onclick="deleteTask(this)">Удалить</button>
						<button class="popup__submit-btn popup__reject-btn" onclick="closePopup()">Отмена</button>
					</div>
				</div>
			</div>
		</div>
		<div class="overlay"></div>
		<div id="notifications">
			<div class="notification">
				<img>
				<div class="content">
					<div class="head">Авторизация</div>
					<div class="text">Не удалось выполнить авторизацию.
				Response status: 404</div></div>
			</div>
		</div>
		<button onclick="sendNotification('Заголовок', 'Текст самого уведомления... Он не будет слишком большим.')">Create test notif</button>
	</body>
	<script src="../static/js/panel/main.js" defer></script>
	<script src="../static/js/panel/notifications.js" defer></script>
	<script src="../static/js/panel/users.js" defer></script>
	<script src="../static/js/panel/apps.js" defer></script>
	<script src="../static/js/panel/incomes.js" defer></script>
	<script src="../static/js/panel/sockets.js" defer></script>
	<script src="../static/js/panel/tasks.js" defer></script>
	<script type="javascript">
		/*<![CDATA[*/
		let users = /*[[${users}]]*/ [];
		let apps = /*[[${apps}]]*/ [];
		let incomes = /*[[${incomes}]]*/ [];
		let sockets = /*[[${sockets}]]*/ [];
		let tasks = /*[[${tasks}]]*/ [];
		/*]]>*/
	</script>

	<!--ДАННЫЕ ДЛЯ ТЕСТОВ ОТРИСОВКИ-->
	<script>
		tasks = [
			{
				id: 1,
				text: 'Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков v Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков',
				creationDate: 1724865727,
				lastStatusUpdate: 1727543507,
				convertedCreationDate: "28.08.2024 20:11",
				convertedLastStatusUpdate: "28.09.2024 20:22",
				status: 'Завершено',
				executor: 'iQworte'
			},
			{
				id: 2,
				text: 'Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков v Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков',
				creationDate: 1724865727,
				lastStatusUpdate: 1727543507,
				convertedCreationDate: "28.08.2024 20:11",
				convertedLastStatusUpdate: "28.09.2024 20:22",
				status: 'Завершено',
				executor: 'iQworte'
			},
			{
				id: 3,
				text: 'Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков v Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков',
				creationDate: 1724865727,
				lastStatusUpdate: 1727543507,
				convertedCreationDate: "28.08.2024 20:11",
				convertedLastStatusUpdate: "28.09.2024 20:22",
				status: 'Завершено',
				executor: 'iQworte'
			},
			{
				id: 4,
				text: 'Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков v Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков Нарисовать таблицу тасков',
				creationDate: 1724865727,
				lastStatusUpdate: 1727543507,
				convertedCreationDate: "28.08.2024 20:11",
				convertedLastStatusUpdate: "28.09.2024 20:22",
				status: 'Завершено',
				executor: 'Суслик'
			}
		]

		users = [
			{
				"id": 308,
				"application": "1XFreez Manual",
				"secretKey": "8237-TSIN-0580-BPPA",
				"description": "@error_me_too",
				"version": "2.2.0",
				"lastUse": 1724865727,
				"endLicense": 1727543507,
				"currentConnections": 0,
				"maxConnections": 3,
				"creator": "QuarryPG",
				"creationDate": 1724865107,
				"banned": false,
				"telegramId": 379450020,
				"convertedLastUse": "28.08.2024 20:22",
				"convertedEndLicense": "28.09.2024 20:11",
				"convertedCreationDate": "28.08.2024 20:11"
			},
			{
				"id": 307,
				"application": "1WinFreez Manual",
				"secretKey": "4001-HYUR-2101-KGRK",
				"description": "@Rich_nn",
				"version": null,
				"lastUse": null,
				"endLicense": 1727542303,
				"currentConnections": 0,
				"maxConnections": 3,
				"creator": "QuarryPG",
				"creationDate": 1724863903,
				"banned": false,
				"telegramId": 1281951442,
				"convertedLastUse": null,
				"convertedEndLicense": "28.09.2024 19:51",
				"convertedCreationDate": "28.08.2024 19:51"
			},
			{
				"id": 305,
				"application": "Campeon Manual",
				"secretKey": "7404-GDSZ-9325-KLRM",
				"description": "тест",
				"version": "2.3.0",
				"lastUse": 1724861188,
				"endLicense": 1724914675,
				"currentConnections": 0,
				"maxConnections": 3,
				"creator": "QuarryPG",
				"creationDate": 1724828275,
				"banned": false,
				"telegramId": 642822085,
				"convertedLastUse": "28.08.2024 19:06",
				"convertedEndLicense": "29.08.2024 09:57",
				"convertedCreationDate": "28.08.2024 09:57"
			},
			{
				"id": 304,
				"application": "PaddyPower Manual",
				"secretKey": "4196-IOKT-5586-YLJB",
				"description": "@mariett123",
				"version": "2.1.0",
				"lastUse": 1724839876,
				"endLicense": 1725376692,
				"currentConnections": 0,
				"maxConnections": 3,
				"creator": "QuarryPG",
				"creationDate": 1724768292,
				"banned": false,
				"telegramId": 5502206506,
				"convertedLastUse": "28.08.2024 13:11",
				"convertedEndLicense": "03.09.2024 18:18",
				"convertedCreationDate": "27.08.2024 17:18"
			}
		]

		apps = [
			{
				"id": 46,
				"name": "Soccerbet Manual",
				"version": "1.0.0",
				"description": "ИНДИВИДУАЛЬНАЯ АРЕНДА",
				"channelId": null,
				"activeKeys": 1
			},
			{
				"id": 45,
				"name": "1Win Addons (PU)",
				"version": "1.1.0",
				"description": "Нет описания",
				"channelId": null,
				"activeKeys": 2
			},
			{
				"id": 44,
				"name": "1Win Manual (PU)",
				"version": "1.0.2",
				"description": "Нет описания",
				"channelId": null,
				"activeKeys": 0
			}
		]

		incomes = [
			{
				"id": 103,
				"application": "1XFreez Manual",
				"secretKey": "8237-TSIN-0580-BPPA",
				"price": 140,
				"discount": 0,
				"discountedPrice": 140,
				"partner": "",
				"partnerPercentage": 0,
				"date": 1724865129,
				"description": "@error_me_too",
				"paidOut": false,
				"convertedDate": "28.08.2024 20:12",
				"partnerIncome": 0,
				"licenseExpired": false,
				"buttonActive": false,
				"convertedLicenseEndDate": null
			},
			{
				"id": 102,
				"application": "1WinFreez Manual",
				"secretKey": "4001-HYUR-2101-KGRK",
				"price": 170,
				"discount": 0,
				"discountedPrice": 170,
				"partner": "",
				"partnerPercentage": 0,
				"date": 1724863925,
				"description": "@Rich_nn",
				"paidOut": false,
				"convertedDate": "28.08.2024 19:52",
				"partnerIncome": 0,
				"licenseExpired": false,
				"buttonActive": false,
				"convertedLicenseEndDate": null
			},
			{
				"id": 101,
				"application": "Campeon Manual",
				"secretKey": "7404-GDSZ-9325-KLRM",
				"price": 20,
				"discount": 0,
				"discountedPrice": 20,
				"partner": "",
				"partnerPercentage": 0,
				"date": 1724828288,
				"description": "тест",
				"paidOut": false,
				"convertedDate": "28.08.2024 09:58",
				"partnerIncome": 0,
				"licenseExpired": false,
				"buttonActive": false,
				"convertedLicenseEndDate": null
			},
			{
				"id": 100,
				"application": "PaddyPower Manual",
				"secretKey": "4196-IOKT-5586-YLJB",
				"price": 75,
				"discount": 0,
				"discountedPrice": 75,
				"partner": "Miha",
				"partnerPercentage": 40,
				"date": 1724776003,
				"description": "@mariett123",
				"paidOut": false,
				"convertedDate": "27.08.2024 19:26",
				"partnerIncome": 30,
				"licenseExpired": false,
				"buttonActive": false,
				"convertedLicenseEndDate": null
			},
			{
				"id": 99,
				"application": "1WinFreez Manual",
				"secretKey": "9307-AJBW-8670-OGFR",
				"price": 170,
				"discount": 0,
				"discountedPrice": 170,
				"partner": "",
				"partnerPercentage": 0,
				"date": 1724766955,
				"description": "@dasav41k",
				"paidOut": false,
				"convertedDate": "27.08.2024 16:55",
				"partnerIncome": 0,
				"licenseExpired": false,
				"buttonActive": false,
				"convertedLicenseEndDate": null
			}
		]
	</script>
</html>