<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		/>

		<!-- Версия бэкенда -->
		<link rel="stylesheet" href="/css/partner.css" />
		<link rel="stylesheet" href="/css/partner-media.css" />
		<link rel="stylesheet" href="/css/font.css" />
		<link rel="stylesheet" href="/css/icons.css" />

		<!-- <link rel="stylesheet" href="../static/css/partner.css" /> -->
		<!-- <link rel="stylesheet" href="../static/css/partner-media.css" /> -->
		<!-- <link rel="stylesheet" href="../static/css/font.css" /> -->
		<!-- <link rel="stylesheet" href="../static/css/icons.css" /> -->

		<title>Доходы</title>
	</head>
	<body>
		<div class="container">
			<div class="table">
				<div class="table__header">
					<div
						class="table__column table__column_content_application"
					>
						<p class="table__column-name">Application</p>
					</div>
					<div class="table__column table__column_content_price">
						<p class="table__column-name">Price</p>
					</div>
					<div class="table__column table__column_content_discount">
						<p class="table__column-name">Discount</p>
					</div>
					<div
						class="table__column table__column_content_discounted-price"
					>
						<p class="table__column-name">Discounted price</p>
					</div>
					<div
						class="table__column table__column_content_partner-percentage"
					>
						<p class="table__column-name">Percentage</p>
					</div>
					<div class="table__column table__column_content_income">
						<p class="table__column-name">Income</p>
					</div>
					<div class="table__column table__column_content_date">
						<p class="table__column-name">Date</p>
					</div>
					<div
						class="table__column table__column_content_payment-date"
					>
						<p class="table__column-name">Payment date</p>
					</div>
				</div>
				<div class="table__content">
					<div class="table__row" th:each="income : ${incomes}">
						<div
							class="table__cell table__cell_content_application"
							data-label="Application"
						>
							<p
								class="table__cell-text"
								th:text="${income.application}"
							></p>
						</div>
						<div
							class="table__cell table__cell_content_price"
							data-label="Price"
						>
							<p
								class="table__cell-text"
								th:text="${#numbers.formatDecimal(income.price, 1, 'COMMA', 2, 'POINT')} + '$'"
							></p>
						</div>
						<div
							class="table__cell table__cell_content_discount"
							data-label="Discount"
						>
							<p
								class="table__cell-text"
								th:text="${#numbers.formatDecimal(income.discount, 1, 'COMMA', 2, 'POINT')} + '%'"
							></p>
						</div>
						<div
							class="table__cell table__cell_content_discounted-price"
							data-label="Discounted price"
						>
							<p
								class="table__cell-text"
								th:text="${#numbers.formatDecimal(income.discountedPrice, 1, 'COMMA', 2, 'POINT')} + '$'"
							></p>
						</div>
						<div
							class="table__cell table__cell_content_partner-percentage"
							data-label="Percentage"
						>
							<p
								class="table__cell-text"
								th:text="${#numbers.formatDecimal(income.partnerPercentage, 1, 'COMMA', 2, 'POINT')} + '%'"
							></p>
						</div>
						<div
							class="table__cell table__cell_content_income"
							data-label="Income"
						>
							<p
								class="table__cell-text"
								th:text="${#numbers.formatDecimal(income.getPartnerIncome(), 1, 'COMMA', 2, 'POINT')} + '$'"
							></p>
						</div>
						<div
							class="table__cell table__cell_content_date"
							data-label="Date"
						>
							<p
								class="table__cell-text"
								th:text="${income.convertedDate}"
							></p>
						</div>
						<div
							class="table__cell table__cell_content_payment-date"
							data-label="Payment date"
						>
							<p
								class="table__cell-text"
								th:text="${income.convertedLicenseEndDate}"
							></p>
						</div>

						<button
							th:if="${income.paidOut}"
							class="table__payment-btn table__payment-btn_paid"
							disabled
						></button>
						<button
							th:if="${!income.paidOut and income.licenseExpired}"
							class="table__payment-btn"
						></button>
						<button
							th:if="${!income.paidOut and !income.licenseExpired}"
							class="table__payment-btn table__payment-btn_disabled"
							disabled
						></button>
					</div>
				</div>
			</div>
		</div>
		<div class="side-block">
			<button
				class="side-btn side-btn_action_detailing"
				onclick="openDetailingPartnerWindow()"
			></button>
		</div>

		<div class="overlay"></div>

		<!-- Popup для детализации доходов -->
		<div class="popup detailing-popup" id="detailing-popup">
			<button class="popup__close-btn" onclick="closePopup()"></button>
			<div class="popup__content">
				<p class="popup__header">Детализация доходов</p>
				<div class="popup__input-container">
					<div class="popup__input-unit popup__input-unit_nested">
						<label
							for="start-date"
							class="popup__label popup__label_centered"
							>Начальная дата</label
						>
						<input
							id="start-date"
							type="date"
							name="application-name"
							class="popup__date-input"
						/>
					</div>
					<div class="popup__input-unit popup__input-unit_nested">
						<label
							for="end-date"
							class="popup__label popup__label_centered"
							>Конечная дата</label
						>
						<input
							id="end-date"
							type="date"
							class="popup__date-input"
						/>
					</div>
				</div>
				<div class="detailing-popup__income-detail">
					<div
						class="detailing-popup__income-item detailing-popup__income-item_total"
					>
						<p class="detailing-popup__income-item-name">
							Суммарный доход
						</p>
						<p
							class="detailing-popup__income-item-value"
							id="totalIncome"
						>
							...$
						</p>
					</div>
					<div class="detailing-popup__income-item">
						<p class="detailing-popup__income-item-name">
							Доступно к выплате
						</p>
						<p
							class="detailing-popup__income-item-value"
							id="totalAvailable"
						>
							...$
						</p>
					</div>
				</div>
				<button
					class="popup__submit-btn popup__detail-btn"
					onclick="calculate()"
				>
					Рассчитать
				</button>
			</div>
		</div>
	</body>
	<script src="/js/partner/main.js" defer></script>
	<!-- <script src="../static/js/partner/main.js" defer></script> -->
</html>
